<div style="background-color:white; width:100%; padding-top:8%;padding-bottom:8%; margin-bottom:3%;">
    <h1 style="text-align:center; font-size: 100px; color:#450012" class="text-uppercase">Create new student</h1>

</div>

<%= render 'form', student: @student %>

<%= link_to 'Back', students_path %>
